name: Combined CI / Release

on:
  workflow_dispatch:
  push:
    branches:
      - '**'

jobs:
  ci_cd:
    runs-on: ubuntu-latest

    steps:
      - name: Workflow Dispatch and wait
        if: ${{ contains(github.ref, 'renovate/playwright') }}
        uses: aurelien-baudet/workflow-dispatch@v4.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          wait-for-completion: true
          workflow: Playwright

  shared_ci_cd:
    permissions:
      attestations: write
      contents: read
      id-token: write
      packages: write

    needs: ci_cd

    uses: mu88/github-actions/.github/workflows/ci-cd.yml@5abbf0ac2dd5f5a4fbf4ab7f816ff85eca8f196a
    with:
      docker-publish-mode: regular
      docker-publish-project: src/ScreenshotCreator.Api/ScreenshotCreator.Api.csproj
      dotnet-test-additional-params-unit-integration-tests: '/p:ExcludeByFile=\"**/Log.Prefix.cs\"'
      requires-docker-login: true
      sonar-additional-params: '/d:sonar.cs.opencover.reportsPaths=tests/Tests/coverage.opencover.xml /s:$GITHUB_WORKSPACE/SonarQube.Analysis.xml'
      sonar-key: mu88_ScreenshotCreator
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}
