name: Mutation Testing

on:
  push:
    branches:
      - main

jobs:
  mutation-testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0'
      - name: Restore dependencies
        run: dotnet restore ScreenshotCreator.sln
      - name: Build
        run: dotnet build --no-restore ScreenshotCreator.sln
      - name: Install Playwright for tests
        run: 'src/ScreenshotCreator.Api/bin/Debug/net7.0/playwright.ps1 install chromium'
        shell: pwsh
      - name: Restore tools
        run: dotnet tool restore
      - name: Run mutation testing
        run: dotnet stryker --dashboard-api-key "${{ secrets.STRYKER_DASHBOARD_API_KEY }}" --version "${{ github.ref_name }}" --config-file stryker-config.json
      - name: Archive mutation testing results
        uses: actions/upload-artifact@v3
        with:
          name: mutation-testing-report
          path: StrykerOutput/**/*.*
