name: Mutation Testing

on:
  push:
    branches:
      - main

jobs:
  mutation-testing:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up .NET
        uses: actions/setup-dotnet@v5
        with:
          cache: true
          cache-dependency-path: "**/packages.lock.json"
          global-json-file: global.json

      - name: Build
        run: dotnet build

      - name: Install Playwright for tests
        shell: pwsh
        run: |
          $playwrightInstallationScript = (Get-ChildItem -Path "src/ScreenshotCreator.Api/bin/Debug/net*/" -Filter 'playwright.ps1' -Recurse | Select-Object -First 1).FullName
          & $playwrightInstallationScript install chromium

      - name: Restore tools
        run: dotnet tool restore

      - name: Run mutation testing
        run: |
          cd src/ScreenshotCreator.Logic
          dotnet stryker \
            --dashboard-api-key "${{ secrets.STRYKER_DASHBOARD_API_KEY }}" \
            --version "${{ github.sha }}" \
            --config-file ../../stryker-config.json \
            --output ${{ runner.temp }}/Stryker/

      - name: Archive mutation testing results
        uses: actions/upload-artifact@v6
        with:
          name: mutation-testing-report
          path: ${{ runner.temp }}/Stryker/**/*.*
